body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    text-align: center;
}
.copyright {
    text-align: center;
}
.K1887230275 {
    font-size: xx-small;
    text-align: center;
}